<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="FlashcardAppDb"
             connectionString="Server=LC-THINKPAD\SQLEXPRESS;Database=FlashcardAppDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=False" 
             providerName="Microsoft.Data.SqlClient"/>
    </connectionStrings>
</configuration>